.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: cadetblue;
}

.button {
  margin: 10px;
}

.nav-title {
  line-height: 0;
}

.right-nav {
  margin-right: 10px;
}
